<app-test-child [message]="parentMessage" (childMessageEvent)="showChildMessage($event)" appCustomDirective></app-test-child>
<p>HostListener and HostBinding changes the color---- {{childMessage}} </p>
<span appVeiwChildTest></span>

<h1>Timer using Async pipe</h1>
<app-async-pipe-test></app-async-pipe-test>

<h1>ViewChild with directive</h1>
<span appShark>Fin!</span>



<h1>ViewChild with DOM</h1>
<input type="text" #someInput  placeholder="Your favourate sea creature"/>

<h1>ViewChild with Child Component</h1>
<app-pup>Pup works</app-pup>

<h1>Resolver Example and Async Pipe</h1>
<a routerLink="/get_categories">Get Categories</a>
<hr/>
<router-outlet></router-outlet>


